.plyr__captions {
    margin: 0;
    position: absolute;
    top: 90%!important;
    left: 50%;
    -ms-transform: translate(-50%, -50%)!important;
    transform: translate(-50%, -50%);
}

.plyr__captions span {
....font-size: 2rem!important;
}